<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <!--
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Navbar w/ text</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Features</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Pricing</a>
			  </li>
			</ul>
			<span class="navbar-text">
			  Navbar text with an inline element
			</span>
		  </div>
		</nav>
	-->
	<div class="container" style="text-align:center;margin-top:50px;">
		<h4> Hey, User! Below are the details: </h4> <br>
	</div>
	
	<div class="container">
	<table class="table table-bordered">
	  <thead class="thead-dark">
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Text captured</th>
		  <th scope="col">Emotions/Tone</th>
		  <th scope="col">Score</th>
		</tr>
	  </thead>
	  <tbody>
		<tr class="table-l">
		  <th scope="row">1</th>
		  <td>TextTextTextTextTextTextTextTextTextTextTextText</td>
		  <td>Sadness and Confident</td>
		  <td>9.7</td>
		</tr>
		<tr class="table-l">
		  <th scope="row">2</th>
		  <td>TextTextTextTextTextTextTextTextTextTextTextTextxtTextTextTextTextTex tTextTextxtTextTextTextTextTextTextTextxtTextTextTextTextTextTextText</td>
		  <td>Joy</td>
		  <td>9.0</td>
		</tr>
		<tr class="table-l">
		  <th scope="row">3</th>
		  <td>Confident</td> 
		  <td>Analytical</td>
		  <td>7</td>
		</tr>
	</table>
	<br>
	<p style="text-align:center;">Note: Score of tone is in the range 0.5 to 1. A score greater than 0.75 indicates a high likelihood that the tone is perceived in the content.</p>
	</div>
	<br>
	
	<br>
	<div class="container">
		<h4 style="text-align:center;"> How did we do? </h4> <br>
		
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
			<label class="input-group-text" for="inputGroupSelect01">Did you find it useful? </label>
		  </div>
		  <select class="custom-select" id="inputGroupSelect01">
			<option selected>Choose...</option>
			<option value="1">Yes</option>
			<option value="2">No</option>
		  </select>
		</div>

		<div class="input-group">
		  <div class="input-group-prepend">
			<span class="input-group-text">Suggestion/Feedback:</span>
		  </div>
		  <textarea class="form-control" aria-label="With textarea"></textarea>
		</div>
		<br>
	  <button class="btn btn-outline-secondary center" type="button" id="inputGroupFileAddon04" style="width:200px;">Go</button>
	
	
  
	</div>
	<div class="container">
		<br><br>
	</div>
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>