<script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-database.js"></script>

<script>
	// Your web app's Firebase configuration
	var firebaseConfig = {
		apiKey: "AIzaSyAkbqYUHPoW5CkDwqTNCldT6uK1DE9feVU",
		authDomain: "rest-api-demo-d8e9e.firebaseapp.com",
		databaseURL: "https://rest-api-demo-d8e9e.firebaseio.com",
		projectId: "rest-api-demo-d8e9e",
		storageBucket: "rest-api-demo-d8e9e.appspot.com",
		messagingSenderId: "656615272153",
		appId: "1:656615272153:web:a9a159829dff22f4"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);

	var docIDArray = ["1","2"];

    for(var i in docIDArray) {
		var status_change_alert = firebase.database().ref('nopool/' + String(i));
		status_change_alert.on('value', function(snapshot) {
			console.log(snapshot);
		});
    }

</script>